@use "../styles/variables" as *;

.container {
  position: relative;
}

.dashboardGrid {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(10rem, auto));
  grid-template-areas:
    "chartBar chartBar map"
    "table table chartPie"
    "totalCard activeCard chartPie";
  padding: 3rem 5rem;
  max-width: 160rem;
  margin: 0 auto;

  & > div {
    background-color: $color-white;
    border: 1px solid $color-gray-200;
    border-radius: $border-radius-medium;
    padding: 1.2rem 2.4rem 2.4rem;
  }

  .chartBar {
    grid-area: chartBar;
  }

  .map {
    grid-area: map;
  }

  .table {
    grid-area: table;
  }

  .chartPie {
    grid-area: chartPie;
  }

  .totalCard {
    grid-area: totalCard;
  }

  .activeCard {
    grid-area: activeCard;
  }

  .mainTitle {
    display: flex;
    align-items: center;
    height: 4.4rem;
    border-bottom: 1px solid $color-gray-200;
    margin-bottom: 1.6rem;

    h2 {
      font-size: $fs-body-300;
    }
  }
}
